/*------Responsive------*/
.fa-bars {
    color: #fff;
}

@media all and (min-width: 0px) and (max-width: 320px){

    /*----Carousel---*/
    .carousel {
        margin-top: 0px;
    }

    .carousel-caption-body h1{
        margin-top: 300px;
        font-size: 1.5em !important;
     }

     .carousel-caption-body .btn {
        margin-top: -3px !important;
    }

    /*-------Program-----*/

    #program {
        margin-top:250px !important;
        position: relative;
        padding-bottom: 60px;
    }

    .offer {
        
        border-radius: 50%;
        margin: auto;
        padding: 25px 7px 0px;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color: #333;
        top: 65px !important;
        left: 10px !important;
        
    }

    /*------member----*/
    #membership h1 {
        font-size: 2em !important;
    }

    /*----quote----*/
    #quote {
        padding: 100px 0px 60px !important;
    }
    #quote h3 {
        font-size: 3.5em;
        border-right: none;
        text-align: center;
        width: 100%;     
    }
    
    #quote h3::after {
        font-size: 1.0em !important;
        padding-left: 0px;
    }

    /*-----This week-----*/

    #this-week {
    padding: 60px 0px 60px;
    }

    #this-week p {
        display: none;
    }

    .week {
    width: 100%;
    margin-top: 100px;
    background-color: #fff;
}

    .week ul {
        display: flex;
        justify-content: center;
        height: 50px;
    } 

    .week ul li {
        list-style: none;
        min-height: 100%;
        width: 100%;
        padding-top: 10px;
        
    }

    .week ul li a {
        font-size: 9px !important;
    }
        
    /*-----Our Team----*/
    .col-md-4 img {
        min-height: auto;
        min-width: 100%;
    }

}

    /*------Contact------*/

    #contact h3 {
        padding: 20px 0px;
        text-align: center;
        font-size: 2em;
        border-right: none !important;
    }

    .form-body {
        min-height: 400px;
        width: 230px;
        margin-left: -30px;
        padding-top: 5px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    input[type="button"] {
        margin-top: 10px;
        width: 100%;   
        height: 40px; 
    }

    .form-group textarea {
        max-width: 100%;
    }

    /*-----Foooter-----*/

    .apps img {
        margin-top: -10px;
        padding-bottom: 15px;
    }

    /*------321 t0 374 PX-----*/

    @media all and (min-width: 321px) and (max-width: 375px){
        /*----Carousel---*/
        .carousel {
            margin-top: 0px;
        }
    
        .carousel-caption-body h1{
            margin-top: 300px;
            font-size: 1.5em !important;
         }
    
         .carousel-caption-body .btn {
            margin-top: -3px !important;
        }
    
        /*-------Program-----*/
    
        #program {
            margin-top:250px !important;
            position: relative;
            padding-bottom: 60px;
        }
    
        .offer { 
            border-radius: 50%;
            margin: auto;
            padding: 25px 7px 0px;
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            color: #333;
            top: 65px !important;
            left: 10px !important;
            
        }
    
        /*------member----*/
        #membership h1 {
            font-size: 2em !important;
        }
    
        /*----quote----*/
        #quote {
            padding: 100px 0px 60px !important;
        }
        #quote h3 {
            font-size: 3.5em;
            border-right: none;
            text-align: center;
            width: 100%;     
        }
        
        #quote h3::after {
            font-size: 1.0em !important;
            padding-left: 0px;
        }
    
        /*-----This week-----*/
    
        #this-week {
        padding: 60px 0px 60px;
        }
    
        #this-week p {
            display: none;
        }
    
        .week {
        width: 100%;
        margin-top: 100px;
        background-color: #fff;
    }
    
        .week ul {
            display: flex;
            justify-content: center;
            height: 50px;
        } 
    
        .week ul li {
            list-style: none;
            min-height: 100%;
            width: 100%;
            padding-top: 10px;
            
        }
    
        .week ul li a {
        font-size: 9px !important;
        }
            
            /*-----Our Team----*/
            .col-md-4 img {
                min-height: auto;
                min-width: 100%;
            }
    

    }

    /*------375 t0 425 PX-----*/

    @media all and (min-width: 376px) and (max-width: 425px){

        /*----Carousel---*/
        .carousel {
            margin-top: 0px;
        }
    
        .carousel-caption-body h1{
            margin-top: 300px;
            font-size: 1.5em !important;
         }
    
         .carousel-caption-body .btn {
            margin-top: -3px !important;
        }
    
        /*-------Program-----*/
    
        #program {
            margin-top:250px !important;
            position: relative;
            padding-bottom: 60px;
        }
    
        .offer { 
            border-radius: 50%;
            margin: auto;
            padding: 25px 7px 0px;
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            color: #333;
            top: 65px !important;
            left: 10px !important;
            
        }
    
        /*------member----*/
        #membership h1 {
            font-size: 2em !important;
        }
    
        /*----quote----*/
        #quote {
            padding: 100px 0px 60px !important;
        }
        #quote h3 {
            font-size: 3.5em;
            border-right: none;
            text-align: center;
            width: 100%;     
        }
        
        #quote h3::after {
            font-size: 1.0em !important;
            padding-left: 0px;
        }
    
        /*-----This week-----*/
    
        #this-week {
        padding: 60px 0px 60px;
        }
    
        #this-week p {
            display: none;
        }
    
        .week {
        width: 100%;
        margin-top: 100px;
        background-color: #fff;
    }
    
        .week ul {
            display: flex;
            justify-content: center;
            height: 50px;
        } 
    
        .week ul li {
            list-style: none;
            min-height: 100%;
            width: 100%;
            padding-top: 10px;
            
        }
    
        .week ul li a {
        font-size: 9px !important;
        }
            
            /*-----Our Team----*/
            .col-md-4 img {
                min-height: auto;
                min-width: 100%;
            }
    
        }
    
        /*------Contact------*/
    
        #contact h3 {
            padding: 20px 0px;
            text-align: center;
            font-size: 2em;
            border-right: none !important;
        }
    
        .form-body {
            min-height: 400px;
            width: 330px;
            margin-left: -30px;
            padding-top: 5px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    
        input[type="button"] {
            margin-top: 10px;
            width: 100%;   
            height: 40px; 
        }
    
        .form-group textarea {
            max-width: 100%;
        }
    
        /*-----Foooter-----*/
    
        .apps img {
            margin-top: -10px;
            padding-bottom: 15px;
        }






    /*------768PX------*/

    @media all and (max-width: 768px) {

        .navbar-nav{
            text-align: center;
            
        }

        .nav-item {
            width: 40%;
            margin: auto;
            padding-top: 15px;
            border-bottom: 1px dotted #808080;
        }
        
        .carousel {
            margin-top: 0px;
        }

        .carousel-caption-body .btn {
            margin-top: 50px;
            width: 50%;
        }

        /*----Program----*/
        #program {
            margin: 450px 0px 200px;
            background-color: #fffaf0;
        }

        .program-single {
            margin-top: 60px;
            width: 100%;
            height: auto;
        }
        
        .program-single .btn{     
            padding: 5px 10px;
            margin-top: -40px;
            width: 150px;  
        }

    .offer {
        top: 30px;
        left: 90px;   
    }

    /*----quote----*/
    #quote {
        padding: 220px 0px 60px;
    }
    #quote h3 {
        font-size: 3.5em;
        border-right: none;
        text-align: center;
        width: 100%;     
    }
    
    #quote h3::after {
        font-size: 2.0em;
        padding-left: 0px;
    }

    /*-----Contact----*/
    #contact h3 {    
        margin-top: 20px;
        padding: 20px 0px 20px;
        text-align: center;
        border-right: none;  
    }

    /*-----Footer----*/
    .about {
        width: 100%;
        padding-bottom: 30px;
        text-align: justify;
    }

    .quick-link {
        display: none;
    }

    .post{
        margin-bottom: 20px;
    }


}